In [1]:
pip install pandas matplotlib seaborn plotly

Requirement already satisfied: pandas in c:\users\asbro\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: matplotlib in c:\users\asbro\anaconda3\lib\site-packages (3.7.2)
Requirement already satisfied: seaborn in c:\users\asbro\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: plotly in c:\users\asbro\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asbro\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asbro\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\asbro\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\asbro\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asbro\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\asbro\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asbro\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asbro\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\asbro\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\asbro\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\asbro\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\asbro\anaconda3\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: six>=1.5 in c:\users\asbro\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asbro\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asbro\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asbro\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\asbro\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\asbro\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\asbro\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pwd

'C:\\Users\\asbro'

In [9]:
# Read CSV file
df = pd.read_csv('Cyclistic_bikes_01-23.csv')

In [11]:
Cyclistic_bikes_01= pd.read_csv("Cyclistic_bikes_01-23.csv")

In [12]:
Cyclistic_bikes_01

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week
0,F96D5A74A3E41399,electric_bike,1/21/2023 20:05,1/21/2023 20:16,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,0:10:51,7
1,13CB7EB698CEDB88,classic_bike,1/10/2023 15:37,1/10/2023 15:46,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,0:08:29,3
2,BD88A2E670661CE5,electric_bike,1/2/2023 7:51,1/2/2023 8:05,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,0:13:14,2
3,C90792D034FED968,classic_bike,1/22/2023 10:52,1/22/2023 11:01,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,0:08:46,1
4,3397017529188E8A,classic_bike,1/12/2023 13:58,1/12/2023 14:13,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,0:15:19,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190296,A303816F2E8A35A8,electric_bike,1/11/2023 17:46,1/11/2023 17:57,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902634,-87.631591,41.920771,-87.663712,casual,0:11:08,4
190297,BCDBB142CC610382,classic_bike,1/30/2023 15:08,1/30/2023 15:33,Western Ave & Leland Ave,TA1307000140,Clarendon Ave & Gordon Ter,13379,41.966400,-87.688704,41.957867,-87.649505,member,0:25:16,2
190298,7D1C7CA80517183B,classic_bike,1/6/2023 19:34,1/6/2023 19:50,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902973,-87.631280,41.920771,-87.663712,casual,0:15:11,6
190299,1A4EB636346DF527,classic_bike,1/13/2023 18:59,1/13/2023 19:14,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902973,-87.631280,41.920771,-87.663712,casual,0:15:20,6
190300,069971675AC7DC62,electric_bike,1/2/2023 13:48,1/2/2023 13:59,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902822,-87.631687,41.920771,-87.663712,casual,0:11:00,2

In [13]:
import pandas as pd

df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

# Calculate the duration of each ride
df['ride_duration'] = df['ended_at'] - df['started_at']

# Convert duration to seconds (optional)
df['ride_duration_seconds'] = df['ride_duration'].dt.total_seconds()

# Display the DataFrame with ride durations
print(df[['started_at', 'ended_at', 'ride_duration', 'ride_duration_seconds']])

                started_at            ended_at   ride_duration  \
0      2023-01-21 20:05:00 2023-01-21 20:16:00 0 days 00:11:00
1      2023-01-10 15:37:00 2023-01-10 15:46:00 0 days 00:09:00
2      2023-01-02 07:51:00 2023-01-02 08:05:00 0 days 00:14:00
3      2023-01-22 10:52:00 2023-01-22 11:01:00 0 days 00:09:00
4      2023-01-12 13:58:00 2023-01-12 14:13:00 0 days 00:15:00
...                    ...                 ...             ...
190296 2023-01-11 17:46:00 2023-01-11 17:57:00 0 days 00:11:00
190297 2023-01-30 15:08:00 2023-01-30 15:33:00 0 days 00:25:00
190298 2023-01-06 19:34:00 2023-01-06 19:50:00 0 days 00:16:00
190299 2023-01-13 18:59:00 2023-01-13 19:14:00 0 days 00:15:00
190300 2023-01-02 13:48:00 2023-01-02 13:59:00 0 days 00:11:00

        ride_duration_seconds
0                       660.0
1                       540.0
2                       840.0
3                       540.0
4                       900.0
...                       ...
190296                  660.0
190297                 1500.0
190298                  960.0
190299                  900.0
190300                  660.0

[190301 rows x 4 columns]

In [14]:
import pandas as pd

df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

# Calculate the duration of each ride
df['ride_duration'] = (df['ended_at'] - df['started_at']).dt.total_seconds()

# Group the DataFrame by member_casual and calculate the average ride duration
average_duration_by_rider_type = df.groupby('member_casual')['ride_duration'].mean()

# Display the average ride duration for members and casual riders
print("Average ride duration for members:", average_duration_by_rider_type['member'])
print("Average ride duration for casual riders:", average_duration_by_rider_type['casual'])

Average ride duration for members: 621.7127876880494
Average ride duration for casual riders: 1375.01649670066

In [19]:
import pandas as pd

# Assuming df is your DataFrame containing ride data
# Convert 'started_at' column to datetime object
df['started_at'] = pd.to_datetime(df['started_at'])

# Extract day of the week (0=Monday, 1=Tuesday, ..., 6=Sunday)
df['day_of_week'] = df['started_at'].dt.dayofweek

# Map day of the week to actual day names
day_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
df['day_of_week'] = df['day_of_week'].map(lambda x: day_names[x])

# Group the DataFrame by member_casual and day_of_week and count occurrences
usage_by_rider_type = df.groupby(['member_casual', 'day_of_week']).size()

# Find the day of the week with the highest usage for members and casual riders
max_usage_by_rider_type = usage_by_rider_type.groupby(level=0).idxmax()

# Display the results
print("Day of the week with the highest usage for members:", max_usage_by_rider_type['member'])
print("Day of the week with the highest usage for casual riders:", max_usage_by_rider_type['casual'])

Day of the week with the highest usage for members: ('member', 'Tuesday')
Day of the week with the highest usage for casual riders: ('casual', 'Tuesday')

In [20]:
import pandas as pd

# Assuming df is your DataFrame containing ride data
# Convert 'started_at' and 'ended_at' columns to datetime objects
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

# Calculate the duration of each ride in seconds
df['ride_duration_seconds'] = (df['ended_at'] - df['started_at']).dt.total_seconds()

# Group the DataFrame by member_casual and calculate the average ride duration
average_ride_time_by_rider_type = df.groupby('member_casual')['ride_duration_seconds'].mean()

# Display the average ride time for members and casual riders
print("Average ride time for members:", average_ride_time_by_rider_type['member'], "seconds")
print("Average ride time for casual riders:", average_ride_time_by_rider_type['casual'], "seconds")

Average ride time for members: 621.7127876880494 seconds
Average ride time for casual riders: 1375.01649670066 seconds

In [21]:
import pandas as pd
from math import radians, sin, cos, sqrt, atan2

# Function to calculate distance between two points using Haversine formula
def calculate_distance(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])

    # Radius of the Earth in kilometers
    R = 6371.0

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c

    return distance

# Example DataFrame with ride data (replace this with your actual DataFrame)
data = {
    'member_casual': ['member', 'casual', 'member'],
    'start_lat': [40.7128, 34.0522, 40.7128],
    'start_lon': [-74.0060, -118.2437, -74.0060],
    'end_lat': [34.0522, 37.7749, 34.0522],
    'end_lon': [-118.2437, -122.4194, -118.2437]
}
df = pd.DataFrame(data)

# Calculate distance for each ride
df['distance_km'] = df.apply(lambda row: calculate_distance(row['start_lat'], row['start_lon'], row['end_lat'], row['end_lon']), axis=1)

# Aggregate distances for members and casual riders separately
average_distance_by_rider_type = df.groupby('member_casual')['distance_km'].mean()

# Display the average distance traveled by members and casual riders
print("Average distance for members:", average_distance_by_rider_type['member'], "km")
print("Average distance for casual riders:", average_distance_by_rider_type['casual'], "km")

Average distance for members: 3935.746254609723 km
Average distance for casual riders: 559.1205770615534 km